body{
    background-color: #f6f7fd;
}

.app-warpper{
    padding: 70px 0 20px;
}

.page-header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.page-center{
    min-height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 50%;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: 0px 5px 35px 0px rgb(148 146 245 / 20%);
}
  